@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal; font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; text-decoration: none; list-style: none; ;}
#wrap { width: 1400px; margin: 0 auto; font-family: 'Cafe24Simplehae';}

header { 
    width: 1400px; height: 670px; font-family: 'Cafe24Simplehae'; margin: 0 auto;
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url('/img/main.jpg'); background-size: cover; background-position: center center;  */
}
header .logo { width: 700px; margin-left: 350px; margin-top: 240px; color: #fff; font-size: 50px; font-family: 'YUniverse-B';}
header .logo h1 { position: absolute; margin-top: -650px;}
header .nav {position: absolute; display: flex; justify-content: center; padding-top: 30px; margin-left: 350px; z-index: 10;}
header .nav ul { width: 800px; display: flex; align-items: center; justify-content: center; }
header .nav li { width: 800px; display: flex; justify-content: space-between; grid-column-gap: 20px; }
header .nav a { color: #fff; font-weight: bold; font-size: 20px;}
header .nav a:hover { text-decoration: underline;}
header #slide { height: 670px; overflow: hidden; z-index: 5; background: #000;}
#slide >ul { width: 4300px; }
#slide >ul>li { display: inline-block;}
#slide img { width: 1400px; height: 670px; opacity: 0.8;}

#s1 {
    width: 100%; height: 1500px; 
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
#s1 h1 a { font-size: 50px; color: #ccab1a; }
#s1 hr { width: 155px; margin-bottom: 60px;}
#s1 .txt p { font-size: 20px; text-align: center; line-height: 40px; margin-bottom: 60px; }
#s1 .more { margin-left: 1240px; margin-top: 50px; font-size: 25px; text-decoration: underline; }
#s1 .more a { color: #ccab1a; }
#s1 .symbol { width: 1400px; display: flex; justify-content: space-around; align-items: center; background: #edf0cd; border-radius: 100px; padding-top: 50px; padding-bottom: 50px;}
#s1 h2 { text-align: center; color: #ccab1a; margin-bottom: 20px; font-size: 30px;}
#s1 .left img { box-shadow: 4px 4px 15px 0.5px; color: rgb(214, 214, 214);}
#s1 .left h2 { margin-left: 20px;}
#s1 .right { display: flex; flex-direction: column; justify-content: center; align-items: center; grid-row-gap: 50px; text-align: center; }
#s1 .right img { margin-bottom: 15px; border-radius: 50%;}


#s2 { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 700px; }
#s2 h1 a { font-size: 50px; color: #2c82bb; }
#s2 .list ul { width: 100%; display: flex; justify-content: center; grid-column-gap: 30px;}
#s2 .list ul li { height: 500px; display: flex; flex-direction: column; align-items: center; border-radius: 15px 150px 15px 15px;}
#s2 .list ul .card1 { background: #ffed9c; box-shadow: 1px 1px 5px 1px #c7bebe; }
#s2 .list ul .card2 { background: #ffc6c4; box-shadow: 1px 1px 5px 1px #c7bebe;}
#s2 .list ul .card3 { background: #ffcbf6; box-shadow: 1px 1px 5px 1px #c7bebe;}
#s2 h2 { font-size: 40px;  padding-top: 30px; text-align: center; padding-bottom: 20px; }
#s2 hr { width: 195px; margin-bottom: 80px; }
#s2 .more { margin-left: 1240px; font-size: 25px; text-decoration: underline; margin-top: 50px; }
#s2 a { color: #000;}
#s2 .more a { color: #2c82bb; }
#s2 h3 { font-family: 'Yomogi'; text-align: center; }
#s2 p {font-family: 'Yomogi'; text-align: center; font-size: 18px; }
#s2 .pic1 { 
    width: 450px; height: 300px; border-radius: 15px 150px 0 150px; 
    background-image: url('../img/school/middle.png'); background-repeat: no-repeat; background-size: cover;
}
#s2 .pic2 { 
    width: 450px; height: 300px; border-radius: 15px 150px 0 150px; 
    background-image: url('../img/school/high.png'); background-repeat: no-repeat; background-size: cover;
}
#s2 .pic3 { 
    width: 450px; height: 300px; border-radius: 15px 150px 0 150px; 
    background-image: url('../img/school/info.png'); background-repeat: no-repeat; background-size: cover;
}
#s2 .card1 { width: 450px; height: 300px; position: relative; transition: .4s; transform-style: preserve-3d; }
.front1, .back1 {  position: absolute; width: 100%; height: 100%; backface-visibility: hidden; }
.back1 { background: #000; transform: rotateY(180deg); border-radius: 15px 15px 15px 15px; }
.list .flip:hover .card1 { transform: rotateY(180deg);}
#s2 .card2 { width: 450px; height: 300px; position: relative; transition: .4s; transform-style: preserve-3d; }
.front2, .back2 {  position: absolute; width: 100%; height: 100%; backface-visibility: hidden; }
.back2 { background: #000; transform: rotateY(180deg); border-radius: 15px 15px 15px 15px; }
.list .flip:hover .card2 { transform: rotateY(180deg);}
#s2 .card3 { width: 450px; height: 300px; position: relative; transition: .4s; transform-style: preserve-3d; }
.front3, .back3 {  position: absolute; width: 100%; height: 100%; backface-visibility: hidden; }
.back3 { background: #000; transform: rotateY(180deg); border-radius: 15px 15px 15px 15px; }
.list .flip:hover .card3 { transform: rotateY(180deg);}
.back1 img, .back2 img, .back3 img { width: 450px; height: 500px; opacity: 0.6; border-radius: 15px;}
#s2 .back1 h4 { position: absolute; margin-top: -310px; color: #fff; text-align: center; margin-left: 115px; font-size: 20px; line-height: 40px;}
#s2 .back2 h4 { position: absolute; margin-top: -280px; color: #fff; text-align: center; margin-left: 95px; font-size: 20px; line-height: 40px;}
#s2 .back3 h4 { position: absolute; margin-top: -280px; color: #fff; text-align: center; margin-left: 130px; font-size: 20px; line-height: 40px;}

#s3 { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 1200px; }
#s3 h1 { font-size: 50px; padding-top: 30px; }
#s3 h1 a { color: #bb2c2c; }
#s3 hr { width: 195px;  margin-bottom: 100px; }
#s3 .list { width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-between; grid-row-gap: 20px; }
#s3 .list .l1 { width: 800px; display: flex; align-items: center; justify-content: center; justify-content: space-between; padding: 50px;}
#s3 .year, #s3 .cont{ font-size: 25px;}
#s3 .more { margin-left: 1240px; font-size: 25px; text-decoration: underline; margin-top: 55px; }
#s3 .more a { color: #bb2c2c; }
#s3 .list .l1:hover { background: #faeaea;}

#s4 { width: 100%; height: 800px; display: flex; flex-direction: column; justify-content: center; align-items: center; } 
#s4 h1 { font-size: 50px; }
#s4 h1 a { color: #61b659; }
#s4 hr { width: 230px;  margin-bottom: 60px; }

footer { width: 100%; height: 100px; background: #fff; display: flex; align-items: center; justify-content: space-between; border-top: 1px solid rgb(114, 114, 114); }
footer .flogo img { width: 70px; padding-left: 50px;}
footer .copy p { font-size: 15px;}
footer .sns { width: 80px; display: flex; justify-content: space-between; margin-right: 50px;}
footer .sns li { display: flex; grid-row-gap: 10px; }
footer .sns a { font-size: 20px; color: #000; }